[submodule "www/libs/utils/PDFMerger"]
	path = www/libs/utils/PDFMerger
	url = https://github.com/theochino/PDFMerger.git
[submodule "www/libs/utils/www/libs/utils/swiper"]
	path = www/libs/utils/www/libs/utils/swiper
	url = https://github.com/theochino/swiper
[submodule "www/libs/utils/swiper"]
	path = www/libs/utils/swiper
	url = https://github.com/theochino/swiper
[submodule "www/libs/utils/External_Swiper"]
	path = www/libs/utils/External_Swiper
	url = https://github.com/repmyblock/External_Swiper
[submodule "www/libs/utils/External_Pell"]
	path = www/libs/utils/External_Pell
	url = https://github.com/repmyblock/External_Pell
[submodule "www/libs/utils/External_Croppie"]
	path = www/libs/utils/External_Croppie
	url = https://github.com/repmyblock/External_Croppie
